/* variables */
$full: 100%;
$half: 50%;
$width: 1194px;
$mobile: 767px;
$tablet: 768px;
$desktop: 480px;
$offset: absolute;
$rel: relative;
$hidden: hidden;
$inlineBlock: inline-block;
$notoSans: 'NotoSansKR', sans-serif;